@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover ;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 605px;
    width: 300px;
    background: url('../imagens/frame1-iphone.png') no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 65px;
    left: 21px;
    width: 258px;
  height: 465px;
  border-radius: 3px;
  
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    
}

section#redes-sociais img:hover {
    
    border: solid 2px rgba(255, 255, 255, 0.795);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
  box-sizing: border-box;
  transition: .5s, border .4s;
  transform: translate(-2px, -3px);
}
